<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

<!--    <link rel="stylesheet" href="style_main.css">-->

    <title>HPD Blog</title>

</head>

<body>

<!-- Header Section -->
<section>

    <header>
        <h1> HORSEPOWER DIGEST BLOG </h1>
        <h3> A Reader's Guide through the World of Automotives! </h3>
        <h5> By: Hyder Ali </h5>
    </header>

</section>

<!-- Navigation Section -->
<section>

    <nav>
        <ul>
            <li>
                <a href="workspace.ejs"> Access Workspace </a>
            </li>
            <li>
                <a href="reader.ejs"> View Live Blog </a>
            </li>
        </ul>
    </nav>

</section>

<!-- Portal to Live Blog / WorkSpace  -->

<section>

    <div class="container">
        <h4> <a href="workspace.ejs">VISIT YOUR WORKSPACE</a></h4>
        <p> Do you wish to access your workspace? </p>
    </div>

    <div class="container">
        <h4> <a href="reader.ejs">VIEW LIVE BLOG</a></h4>
        <p> Do you wish to view your live site? </p>
    </div>

</section>

</body>
</html>




















