
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="button_functions.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="/views/Stylesheet/style_reader.css">-->

    <title>HPD Blog</title>

</head>

<body>

<!-- Header Section -->
<section>

    <header>
        <h1> HORSEPOWER DIGEST BLOG </h1>
        <h3> A Reader's Guide through the World of Automotives! </h3>
        <h5> By: Hyder Ali </h5>
    </header>

</section>

<!-- Navigation Section -->
<section>

    <nav>
        <ul>
            <li>
                <a href="main.ejs"> Return to Portal </a>
            </li>
        </ul>
    </nav>

</section>

<!-- Portal to Live Blog / WorkSpace  -->

<section>

    <!-- Show published articles with meta-data attached -->

    <h3> Published Articles </h3>
    <p>
        This is the space where we will show published articles...
    </p>
    <div class="" id="myForm">
        <form action="" class="">

            <label for="comment"><b>Comment</b></label>
            <input type="text" placeholder="Add your comments" name="comment" required>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Your Name" name="name" required>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

</section>

</body>
</html>