

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="/views/Stylesheet/style_workspace.css">-->

    <title>HPD Blog</title>

</head>

<body>

<!-- Header Section -->
<section>

    <header>
        <h1> HORSEPOWER DIGEST BLOG </h1>
        <h3> A Reader's Guide through the World of Automotives! </h3>
        <h5> By: Hyder Ali </h5>
    </header>

</section>

<!-- Navigation Section -->
<section>

    <nav>
        <ul>
            <li>
                <a href="main.ejs"> Return to Portal </a>
            </li>
            <li>
                <a href="reader.ejs"> View Live Blog </a>
            </li>

        </ul>
    </nav>

</section>

<!-- Portal to Live Blog / WorkSpace  -->

<section>

    <!-- Show draft articles with meta-data attached -->
    <h3> Draft Articles </h3>

    <h5>
        Create a new Draft?
        <button>
            New
        </button>
    </h5>

    <ul>
        <li>
            Date Created:
        </li>
        <li>
            Last Edited:
        </li>
        <li>
            Article Status:
        </li>
        <li>
            Actions:

            <button type="button" onclick="location.href = 'edit_articles.ejs'"> Edit </button> <!-- Redirects Author to Edit Page -->
            <button onclick=""> Publish </button> <!-- Dynamically Pushes the draft article to published and removes it from this section -->
            <button onclick=""> Delete </button> <!-- Removes it from this section -->
        </li>
    </ul>

    <!-- Show published articles with meta-data attached -->
    <h3> Published Articles </h3>

    <button onclick=""> Share </button> <!-- Generates social media links -->
    <button onclick=""> Delete </button>
</section>

</body>
</html>